[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
#extends = http://svn.plone.org/svn/collective/buildout/plonetest/plone-3.3.x.cfg
extensions += mr.developer
package-name = collective.gallery
parts += omelette

auto-checkout =
    collective.js.galleriffic
sources = sources

[sources]
collective.js.galleriffic = svn https://svn.plone.org/svn/collective/collective.js.galleriffic/trunk

[omelette]
recipe=collective.recipe.omelette
eggs = ${instance:eggs}

