#gallerythumbs,
#galleryphoto{
/*    background-color:#000000;*/
}
#gallerythumbs ul.thumbs{
  display:block;
  height:80px; /* thumb_max_size + 8 */
  margin:0px 1em;
}
#gallerythumbs ul.thumbs li {
  float: left;
  list-style: none outside none;
  margin: 5px 0 5px 0;
  padding: 0;
}
#gallerythumbs a,
#gallerythumbs a:visited
{font-weight:bold;text-decoration:none;border:0;line-height:80px;}
#gallerypageprev{float:left;}
#gallerypagenext{float:right;}

#galleryphoto {
  height:420px; /* photo_max_size + 20 */
}
#gallerycontrol,
#galleryphoto,
#gallerythumbs{
  width: 420px; /* photo_max_size + 20 */
}
#gallerycontrol #galleryprev{
    float:left;
}
#gallerycontrol
{
    text-align:center;
}
#gallerycontrol #gallerynext{
    float:right;
}
/*force thumb sizes*/
.thumb img{width:72px; height:72px;}

/* caption styling */
#gallerycaption {
    display:none;
    background:url('gallery_tooltip.png');
    height:143px;
    width:240px;
    padding:40px 30px 10px 30px;
    font-size:11px;
}